# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/
staticfiles/

# Node / Next.js
node_modules/
.next/
out/
*.tsbuildinfo
frontend/.env.local

# Env
.env
*.env.local

# OS
.DS_Store

# IDE
.vscode/
.idea/
